In [118]:
import pandas as pd

In [119]:
df = pd.read_csv('Oferty_aut_Copy_UTF-8.csv', sep=';', encoding="UTF-8")

In [120]:
df.head(10)

,ID,Brand,Model,Fuel,Mileage,Year,Transmission,Price,Bodywork,CO2,Color,Euro Standard,Doors,HP,Description,Link
0,FB116890,Audi,Q3,Gas,21786,2021,Automatisch,32990,SUV,149.0,Grijs,Euro 6,5,150,Deze Audi Q3 S Line is voor het eerst ingeschr...,https://www.autosphere.be/nl/detail/audi-q3-s-...
1,FB118238,Renault,Megane,Hybride,18181,2023,Automatisch,24990,Berline,29.0,Grijs,Euro 6,5,94,Deze Renault Megane PHEV*I-Tech Engenering*Boi...,https://www.autosphere.be/nl/detail/renault-me...
2,FB117338,Land Rover,Range Rover Evoque,Diesel,40940,2023,Automatisch,36990,SUV,172.0,Zwart,Euro 6,5,163,Deze Land Rover Range Rover Evoque *Boite auto...,https://www.autosphere.be/nl/detail/land-rover...
3,FB116891,Lexus,UX 250h,Hybride,16027,2023,Automatisch,26990,Berline,120.0,Blauw,Euro 6,5,152,Deze Lexus UX 250h *Boite auto*Carplay*Led*Cli...,https://www.autosphere.be/nl/detail/lexus-ux-2...
4,FB118716,Renault,Captur,Gas,18345,2024,Manueel,19990,SUV,132.0,Grijs,Euro 6,5,91,Deze Renault Captur *GPS*Carplay*CamĂ©ra*APS A...,https://www.autosphere.be/nl/detail/renault-ca...
5,FB119398,Renault,Clio,Gas,6710,2024,Manueel,17390,Stadswagen,1.0,Zwart,Euro 6,5,90,Deze Renault Clio *Carplay*Clim auto*APS Ar*RĂ...,https://www.autosphere.be/nl/detail/renault-cl...
6,FB121290,Renault,Megane,Hybride,17070,2022,Automatisch,19990,Berline,27.0,Zwart,Euro 6,5,94,Deze Renault Megane *Boite auto*GPS*Carplay*Ca...,https://www.autosphere.be/nl/detail/renault-me...
7,FB120574,Renault,Austral,Hybride,16806,2024,Automatisch,34990,SUV,102.0,Grijs,Euro 6,5,131,Deze Renault Austral Techno Esprit Alpine 200 ...,https://www.autosphere.be/nl/detail/renault-au...
8,FB124888,Renault,Arkana,Gas,13946,2022,Automatisch,22990,SUV,132.0,Oranje,Euro 6,5,140,Deze Renault Arkana 1.33 TCe R.S.Line GPF EDC ...,https://www.autosphere.be/nl/detail/renault-ar...
9,FB125835,Renault,Talisman,Gas,37227,2016,Automatisch,15990,Berline,127.0,Zwart,Euro 6,4,150,Deze Renault Talisman Intens automatic is voor...,https://www.autosphere.be/nl/detail/renault-ta...

In [121]:
df.columns

Index(['ID', 'Brand', 'Model', 'Fuel', 'Mileage', 'Year', 'Transmission',
       'Price', 'Bodywork', 'CO2', 'Color', 'Euro Standard', 'Doors', 'HP',
       'Description', 'Link'],
      dtype='object')

In [122]:
df.dtypes

ID                object
Brand             object
Model             object
Fuel              object
Mileage            int64
Year               int64
Transmission      object
Price              int64
Bodywork          object
CO2              float64
Color             object
Euro Standard     object
Doors              int64
HP                 int64
Description       object
Link              object
dtype: object

In [123]:
df.isnull().any()

ID               False
Brand            False
Model            False
Fuel             False
Mileage          False
Year             False
Transmission     False
Price            False
Bodywork         False
CO2               True
Color            False
Euro Standard    False
Doors            False
HP               False
Description      False
Link             False
dtype: bool

In [124]:
df["CO2"].isnull().sum()

np.int64(144)

In [125]:
CO2_mean = df['CO2'].mean()

In [126]:
CO2_mean

np.float64(119.22670807453416)

In [127]:
df['CO2'] = df["CO2"].fillna(CO2_mean)

In [128]:
df.isnull().any()

ID               False
Brand            False
Model            False
Fuel             False
Mileage          False
Year             False
Transmission     False
Price            False
Bodywork         False
CO2              False
Color            False
Euro Standard    False
Doors            False
HP               False
Description      False
Link             False
dtype: bool

In [129]:
df["Color"].unique()

array(['Grijs', 'Zwart', 'Blauw', 'Oranje', 'Wit', 'Geel', 'Beige',
       'Rood', 'Zilvergrijs', 'Antraciet', 'Bruin', 'Groen', 'Brons',
       'Champagne', 'Paars', 'Niet vermeld'], dtype=object)

In [130]:
df['Doors'].unique()

array([5, 4, 2, 3])

In [131]:
df['Fuel'].unique()

array(['Gas', 'Hybride', 'Diesel', 'Elektrisch', 'LPG'], dtype=object)

In [132]:
df['Brand'].unique()

array(['Audi', 'Renault', 'Land Rover', 'Lexus', 'Honda', 'Dacia', 'Kia',
       'Peugeot', 'Toyota', 'Alfa Romeo', 'Opel', 'Nissan', 'Suzuki',
       'Seat', 'Ford', 'Tesla', 'Fiat', 'Volkswagen', 'Skoda', 'Citroen',
       'BMW', 'Cupra', 'Hyundai', 'MINI', 'Porsche', 'Jaguar',
       'Mitsubishi', 'Volvo', 'Mercedes-Benz', 'SsangYong', 'Jeep'],
      dtype=object)

In [133]:
df['Model'].unique()

array(['Q3', 'Megane', 'Range Rover Evoque', 'UX 250h', 'Captur', 'Clio',
       'Austral', 'Arkana', 'Talisman', 'Espace', 'HR-V', 'A1', 'Trafic',
       'Rafale', 'Kadjar', 'Spring', 'Sportage', '3008', 'Yaris',
       'Sandero Stepway', 'Giulietta', 'Scenic', 'Megane E-Tech',
       'Movano', 'Juke', 'Ignis', 'Stonic', 'Jogger', 'Ateca', 'Focus',
       'Duster', 'Qashqai', 'Model 3', '500e', 'e-Up!', 'Sandero',
       'Transit', 'Ceed', 'Q2', 'A6', 'A3', 'Taigo', 'A7', 'Octavia',
       'Enyaq', 'Fabia', 'T-Roc', 'T-Cross', 'Golf', 'Caddy', 'ID.5',
       'C-HR', 'CT 200h', 'Passat', 'ID.7', 'Golf Variant', 'Q4', 'ID.3',
       'Superb', 'Kodiaq', 'Tiguan', 'C4 SpaceTourer', 'e-Golf',
       'Q6 e-tron', 'T6.1 Transporter', 'e-tron', 'A4', 'Kamiq',
       'Crafter', 'Touran', 'Scala', 'Q5', 'e-tron GT', 'Q4 e-tron', 'Q8',
       'A5', 'Q8 e-tron', 'RS6', 'Serie 2 220', 'Born', 'i30',
       'Cooper Clubman', 'Formentor', 'X-Trail', '2008', 'S5', '718',
       'F-Pace', '911', 'Macan', 'Tayron', 'Cooper S', 'Venga', 'Kona',
       '5008', 'Leon', 'ASX', 'Serie 2 216', 'ID.Buzz Cargo',
       'Serie X X1', 'SQ8', 'ID.Buzz', 'Karoq', 'XC40', '500 X', 'Rio',
       '508', 'Tarraco', 'Symbioz', 'Ka', '500 C', 'Master',
       'Clio Grandtour', 'Kangoo', 'Micra', 'ID.4', 'Golf R', 'Others',
       'Tavascan', 'Serie X X2', 'Polo', 'California', 'Arona', 'Elroq',
       'Dokker', 'Passat Variant', 'Terramar', 'Puma', 'Twingo', 'Tipo',
       'i10', 'Berlingo', 'CLA 180', 'Golf Sportsvan', 'SX4 S-Cross',
       'Tucson', 'C5 Aircross', 'Kuga', 'Karl', 'Ibiza', 'Spacetourer',
       'S6', 'Swift', 'Fiesta', 'Serie 1 116', 'Yaris Cross', 'TT', 'C3',
       'CLA 200', 'Cooper', 'Up!', 'GLA 180', 'Touareg', 'Serie 1 118',
       'V40', 'Tivoli', 'Compass', 'Panda', '108', 'R5', 'Korando',
       'Serie 4 418', 'Insignia', 'Arteon', 'Serie 2 218', 'SLC 180',
       'Golf GTE', 'A 180', 'Stelvio', 'Serie 3 318', 'S3', 'Transporter',
       'Vitara', 'Corsa', 'Tiguan Allspace', 'Beetle', 'T7', 'RS3',
       'Celerio'], dtype=object)

In [134]:
df["Euro Standard"].unique()

array(['Euro 6', 'Nan', 'Euro 5', 'Euro 7'], dtype=object)

In [135]:
df = df[df["Euro Standard"] != "Nan"]

In [136]:
len(df[df["Euro Standard"]=="Nan"])

0

In [137]:
df["Euro Standard"].unique()

array(['Euro 6', 'Euro 5', 'Euro 7'], dtype=object)

In [138]:
df['Bodywork'].unique()

array(['SUV', 'Berline', 'Stadswagen', 'Coupé', 'Bedrijfsvoertuig',
       'Monovolume', 'Break', 'SAV', 'Cabriolet', 'Andere'], dtype=object)

In [139]:
mapping_dict = {
    'Berline': 'Limousine',
    'Stadswagen': 'City',
    'Coupé': 'Coupé',
    'Bedrijfsvoertuig': 'Other',
    'Andere': 'Other',
    'Monovolume': 'Van',
    'SAV': 'SUV',
    'Break': 'Other',
    'Cabriolet': 'Cabriolet'
}

In [140]:
df['Bodywork'] = df['Bodywork'].replace(mapping_dict)

In [141]:
df['Bodywork'].unique()

array(['SUV', 'Limousine', 'City', 'Coupé', 'Other', 'Van', 'Cabriolet'],
      dtype=object)

In [142]:
mapping_dict_2 = {
    'Grijs': 'Gray',
    'Zwart': 'Black',
    'Blauw': 'Blue',
    'Oranje': 'Orange',
    'Wit': 'White',
    'Geel': 'Yellow',
    'Beige': 'Beige',
    'Rood': 'Red',
    'Zilvergrijs': 'Silver Gray',
    'Antraciet': 'Anthracite',
    'Bruin': 'Brown',
    'Groen': 'Green',
    'Brons': 'Bronze',
    'Champagne': 'Champagne',
    'Paars': 'Purple',
    'Niet vermeld': 'Not specified'
}

In [143]:
df['Color'] = df['Color'].replace(mapping_dict_3)

In [144]:
df['Color'].unique()

array(['Grijs', 'Zwart', 'Blauw', 'Oranje', 'Wit', 'Geel', 'Beige',
       'Rood', 'Zilvergrijs', 'Antraciet', 'Bruin', 'Groen', 'Brons',
       'Champagne', 'Paars', 'Niet vermeld'], dtype=object)

In [145]:
mapping_dict_3 = {
    'Automatisch': 'Automatic',
    'Manueel': 'Manual',
}

In [146]:
df['Transmission'] = df['Transmission'].replace(mapping_dict_3)

In [147]:
df['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [148]:
df['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [149]:
df.head(5)

,ID,Brand,Model,Fuel,Mileage,Year,Transmission,Price,Bodywork,CO2,Color,Euro Standard,Doors,HP,Description,Link
0,FB116890,Audi,Q3,Gas,21786,2021,Automatic,32990,SUV,149.0,Grijs,Euro 6,5,150,Deze Audi Q3 S Line is voor het eerst ingeschr...,https://www.autosphere.be/nl/detail/audi-q3-s-...
1,FB118238,Renault,Megane,Hybride,18181,2023,Automatic,24990,Limousine,29.0,Grijs,Euro 6,5,94,Deze Renault Megane PHEV*I-Tech Engenering*Boi...,https://www.autosphere.be/nl/detail/renault-me...
2,FB117338,Land Rover,Range Rover Evoque,Diesel,40940,2023,Automatic,36990,SUV,172.0,Zwart,Euro 6,5,163,Deze Land Rover Range Rover Evoque *Boite auto...,https://www.autosphere.be/nl/detail/land-rover...
3,FB116891,Lexus,UX 250h,Hybride,16027,2023,Automatic,26990,Limousine,120.0,Blauw,Euro 6,5,152,Deze Lexus UX 250h *Boite auto*Carplay*Led*Cli...,https://www.autosphere.be/nl/detail/lexus-ux-2...
4,FB118716,Renault,Captur,Gas,18345,2024,Manual,19990,SUV,132.0,Grijs,Euro 6,5,91,Deze Renault Captur *GPS*Carplay*CamĂ©ra*APS A...,https://www.autosphere.be/nl/detail/renault-ca...

In [150]:
df.to_csv('Cars_dataset.csv', encoding='utf-8', index=False)